.weather-app-wrapper {
    background-image: url("../../images/bg-blue.jpeg");
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.weather-app-wrapper .display-result{
    /* background-image: url("../../images/weather-2.jpeg"); */
    display: flex;
    justify-content: center;

}

.test{
    background-image: url("../../images/weather-2.jpeg"); 
}