.page-wrapper {
    .section-1-wrap {
        background: #fff;
        display: flex;
        margin: auto;
        min-height: 90vh;
        align-items: center;

        .section-header {
            .title {
                padding: 2em;
            }
        }

        .section-content {
            padding: 2em;
            width: 100%;

            .profile-img {
                border-radius: 100px;
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            flex-direction: column-reverse;
        }
    }

    .section-2-tech {
        padding: 3em 0;

        .section-heading {
            font-size: 1.7rem;
            font-weight: bold;
            padding-bottom: 0.5em;
        }

        .section-subHeading {
            font-size: 1rem;
            font-weight: bold;
        }

        .tech-images {
            margin-top: 4rem;

            ul {
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                flex-wrap: wrap;
            }
        }
    }

    .section-3-cards {
        background: #fff;
        padding: 3em 2em;

        .section-heading {
            font-size: 1.7rem;
            font-weight: bold;
            padding-bottom: 0.5em;
        }

        .section-subHeading {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 5rem;
        }
    }
}