.footer-wrap{
    background-color: #030520;
}
.footer-wrapper {
    display: flex;
    align-items: center;
}
.footer-wrapper .footer-content{
    color: white;
    width: 80%;
}

.footer-wrapper .footer-content .footer-section-1{
    display: flex;
    width: 100%;
    justify-content: end;
}

.footer-wrapper .footer-content .footer-section-2{
    width: 80%;
}

.footer-wrapper .footer-content ul a{
    color: white;
}

.footer-wrapper .footer-image img { 
    width: 100%;
    height: 100px;
}

.footer-section-2 ul.links {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}