.projectDescTrigger {
    position: fixed;
    top: 50%;
    left: 0;
    padding-left: 2px;
}

.MuiDialogContent-root {
    max-height: 350px;
    overflow-y: auto; 
    margin-left: 20px;
}

.dialogTitle {
    background-color: #e0e0f2;
}