.back-to-top-button {
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    display: flex;
    transition: opacity 0.3s ease;

}

.back-to-top-button.hidden {
    opacity: 0;
}

.back-to-top-button.visible {
    opacity: 1;
}